# dependencies
node_modules/

# Next.js build output
.next/
out/

# build artifacts
tsconfig.tsbuildinfo
next-env.d.ts

# environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# Firebase service account keys
*-firebase-adminsdk-*.json
*-firebase-adminsdk-*.txt
.env*
